<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body login-card">
        <!-- <div class="mb-4 logo-div text-center">
                      <img src="assets/images/logo/favicon.png" class="login-logo" />//Your Logo 
                  </div> -->
        <form
          class="login-form"
          [formGroup]="loginWithoutPasswordForm"
          (ngSubmit)="loginWithoutPassword()"
          #loginWithoutPasswordFrm="ngForm"
          novalidate
        >
          <div class="text-center">
            <h3><b>Login Without Password</b></h3>
          </div>
          <hr class="mt-0 w-100" />
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              autocomplete="off"
              title="Email"
            />
          </div>
          @if (
            loginWithoutPasswordFrm.submitted &&
            loginWithoutPasswordFormControl?.["email"]?.errors?.["required"]
          ) {
            <span class="text-danger error"> Email is required </span>
          }
          @if (
            loginWithoutPasswordFrm.submitted &&
            loginWithoutPasswordFormControl?.["email"]?.errors?.["email"]
          ) {
            <span class="text-danger error"> Enter a valid email address </span>
          }

          <button type="submit" class="btn btn-primary mt-3 col-12 mb-2">
            Submit
          </button>
        </form>
        <p class="mb-2 text-center">
          Forgot password? <a [routerLink]="['/auth/forgot-password']">Reset</a>
        </p>
        <p class="mb-2 text-muted text-center">
          <a [routerLink]="['/auth/login']">Back To Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
