.card .card-header h5 {
    color: #c7f001;
}

:host::ng-deep .card-block {
    color: black;
    background-color: white;
}

.save-btn {
    color: #c7f001 !important;
    font-size: larger;
    font-weight: 700;
}

:host ::ng-deep .btn>i {
    margin: 0 !important;
}

:host ::ng-deep .dynamic-form-cards {
    max-height: 400px !important;
    overflow: auto !important;
}

:host ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 10px !important;
    left: 5px !important;
}

:host ::ng-deep .ng-select.ng-select-disabled>.ng-select-container {
    background-color: #e9ecef;
}