<form
  [formGroup]="dashboardForm"
  (ngSubmit)="onSubmit()"
  #dashboardFrm="ngForm"
  novalidate
>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>DASHBOARD DETAILS</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-3">
              <!-- <p>Dropdown Here</p> -->
              <div class="form-group">
                <label>Company</label>
                <ng-select
                  [items]="companyList"
                  bindLabel="CompanyName"
                  class="custom-selectbox"
                  bindValue="CompanyId"
                  placeholder="Select company"
                  (change)="onChangeCompany($event)"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-3">
              <!-- <p>Dropdown Here</p> -->
              <div class="form-group">
                <label>Branch<span class="text-danger">*</span></label>
                <ng-select
                  formControlName="BranchId"
                  [items]="branchList"
                  bindLabel="BranchName"
                  class="custom-selectbox"
                  bindValue="BranchId"
                  placeholder="Select branch"
                  [readonly]="companyId === 0"
                  [typeahead]="typeahead"
                  (clear)="onClear()"
                  (blur)="onClear()"
                  (change)="onChange($event)"
                  (search)="onSearch($event)"
                  [virtualScroll]="true"
                  (scrollToEnd)="onScrollToEnd()"
                >
                </ng-select>
                <span
                  class="text-danger"
                  *ngIf="
                    dashboardFrm.submitted &&
                    dashboardFormControl?.['BranchId']?.errors?.['required']
                  "
                >
                  BranchId is required
                </span>
              </div>
            </div>

            <div
              [ngClass]="field.class"
              *ngFor="let field of formFields; let i = index"
            >
              <div class="form-group">
                <label>
                  {{ field.label }}
                  <span class="text-danger" *ngIf="field.required">*</span>
                </label>
                <input
                  type="number"
                  class="form-control"
                  autocomplete="off"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  [ngClass]="{
                    'border-danger':
                      dashboardFrm.submitted &&
                      dashboardFormControl?.[field.name]?.errors?.['required']
                  }"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    dashboardFrm.submitted &&
                    dashboardFormControl?.[field.name]?.errors?.['required']
                  "
                >
                  {{ field.label }} is required
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    dashboardFrm.submitted &&
                    dashboardFormControl?.[field.name]?.errors?.['pattern']
                  "
                >
                  {{ field.label }} must be an integer
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!formDisabled">
      <div class="card">
        <div class="card-header">
          <h5>CARBON REDUCTION IN THE YEAR</h5>
        </div>
        <div class="card-block dynamic-form-cards">
          <table class="table">
            <thead *ngIf="showCarbonReduction">
              <tr>
                <th>No.</th>
                <th>Month</th>
                <th>Value</th>
                <th>Order</th>
              </tr>
            </thead>
            <tbody formArrayName="carbonReduction">
              <tr
                *ngFor="let item of carbonReductionControls; let i = index"
                [formGroupName]="i"
              >
                <td>{{ i + 1 }}</td>
                <td>{{ staticMonths[i] }}</td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="value"
                    placeholder="Enter Value"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="sortOrder"
                    placeholder="Enter Sort Order"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      dashboardFrm.submitted &&
                      dashboardFormControl?.['carbonReduction']?.['controls'][i]
                        ?.controls.sortOrder?.errors?.required
                    "
                  >
                    Sort Order is required if Value is filled
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!formDisabled">
      <div class="card">
        <div class="card-header">
          <h5>GRS MATERIALS USED IN PURCHASES</h5>
        </div>
        <div class="card-block dynamic-form-cards">
          <table class="table">
            <thead *ngIf="showGRPUsed">
              <tr>
                <th>No.</th>
                <th>Material Number</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody formArrayName="grsMaterials">
              <tr
                *ngFor="let item of grsMaterialsControls; let i = index"
                [formGroupName]="i"
              >
                <td>{{ i + 1 }}</td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="materialNumber"
                    placeholder="Enter Material Number"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      dashboardFrm.submitted &&
                      dashboardFormControl?.['grsMaterials']?.['controls'][i]
                        ?.controls.materialNumber?.errors?.required
                    "
                  >
                    Material Number is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      dashboardFrm.submitted &&
                      dashboardFormControl?.['grsMaterials']?.['controls'][i]
                        ?.controls.materialNumber?.errors?.pattern
                    "
                  >
                    Only integer values are allowed
                  </span>
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="value"
                    placeholder="Enter Value"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      dashboardFrm.submitted &&
                      dashboardFormControl?.['grsMaterials']?.['controls'][i]
                        ?.controls.value?.errors?.required
                    "
                  >
                    Value is required
                  </span>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeGRSMaterial(i)"
                  >
                    <i class="feather icon-trash-2"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            type="button"
            class="btn btn-primary mt-2"
            (click)="addGRSMaterial()"
          >
            Add Row
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-end">
      <button
        type="submit"
        class="btn btn-dark px-5 save-btn"
        title="Save"
        [disabled]="formDisabled"
      >
        Save
      </button>
    </div>
  </div>
</form>
