<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>User Profile</h5>
      </div>
      <div class="card-body">
        <form
          [formGroup]="userProfileForm"
          (ngSubmit)="onSubmit()"
          enctype="multipart/form-data"
        >
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <!-- Profile Image Section -->
              <div class="profile-image-section text-center mb-4">
                <div class="profile-image-container" *ngIf="isEdit">
                  <img
                    [src]="photoUrl"
                    alt="Profile Image"
                    class="profile-image"
                  />
                  <div class="image-overlay">
                    <label class="upload-label">
                      <input
                        type="file"
                        (change)="onFileSelected($event)"
                        name="userPhoto"
                        [ngClass]="{
                          'border-danger':
                            userProfileForm.invalid &&
                            userFormControl?.['userPhoto']?.errors?.['required']
                        }"
                      />
                      <i class="fa fa-camera"></i>
                    </label>
                  </div>
                </div>
                <div *ngIf="isEdit">
                  <small
                    class="text-danger"
                    *ngIf="
                      userFormControl['userPhoto'].invalid &&
                      userFormControl['userPhoto'].touched
                    "
                  >
                    *User Profile is required
                  </small>
                </div>
                <div class="profile-image-container" *ngIf="!isEdit">
                  <img [src]="photoUrl" class="profile-image" />
                </div>
              </div>
            </div>

            <div class="container justify-content-center row" *ngIf="isEdit">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">First Name : </label>
                  <input
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    formControlName="firstName"
                    placeholder="First Name"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['firstName']?.errors?.['required']
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['firstName']?.errors?.['required']
                      "
                    >
                      *First Name is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Last Name : </label>
                  <input
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    formControlName="lastName"
                    placeholder="Last Name"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['lastName']?.errors?.['required']
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['lastName']?.errors?.['required']
                      "
                    >
                      *Last Name is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Email Address : </label>
                  <input
                    type="email"
                    class="form-control"
                    autocomplete="on"
                    formControlName="email"
                    placeholder="Email"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['required']
                    }"
                    [readOnly]="isreadonly"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['required']
                      "
                    >
                      *Email is required
                    </small>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['email']
                      "
                    >
                      *Please provide a valid email
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Phone Number : </label>
                  <input
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    formControlName="phoneNo"
                    placeholder="Phone Number"
                    [ngClass]="{
                      'border-danger':
                        userFormControl?.['phoneNo']?.invalid &&
                        userFormControl?.['phoneNo']?.errors?.['required']
                    }"
                    appValidateNumber
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl?.['phoneNo']?.invalid &&
                        userFormControl?.['phoneNo']?.errors?.['required']
                      "
                    >
                      *Phone Number is required
                    </small>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['phoneNo'].touched &&
                        userFormControl?.['phoneNo'].invalid &&
                        userFormControl?.['phoneNo']?.errors?.['maxlength']
                      "
                    >
                      *Phone Number Should not be a more than 10 length
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label fw-bold h5">Gender : </label>
                <br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    value="male"
                    id="check-male"
                    formControlName="gender"
                  />
                  <label class="form-check-label h6" for="check-male">
                    Male
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    value="female"
                    id="check-female"
                    formControlName="gender"
                  />
                  <label class="form-check-label h6" for="check-female">
                    Female
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    value="other"
                    id="check-other"
                    formControlName="gender"
                  />
                  <label class="form-check-label h6" for="check-other">
                    Others
                  </label>
                </div>
                <div>
                  <small
                    class="text-danger"
                    *ngIf="
                      userProfileForm.controls['gender'].invalid &&
                      userProfileForm.controls['gender'].touched
                    "
                  >
                    *Gender is required
                  </small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Date of Birth : </label>
                  <input
                    type="date"
                    class="form-control"
                    autocomplete="off"
                    formControlName="dob"
                    placeholder="Date Of Birth"
                    [ngClass]="{
                      'border-danger':
                        userFormControl['dob'].invalid &&
                        userFormControl['dob'].touched
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl['dob'].invalid &&
                        userFormControl['dob'].touched
                      "
                    >
                      *Date of Birth is required
                    </small>

                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl?.['dob']?.invalid &&
                        userFormControl?.['dob']?.errors?.['futureDate']
                      "
                    >
                      *Date of Birth cannot be in the future
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Language : </label>
                  <ng-select
                    [items]="languages"
                    bindLabel="Language"
                    bindValue="Id"
                    placeholder="Select Language"
                    [multiple]="true"
                    (change)="onChange($event)"
                    [closeOnSelect]="false"
                    [hideSelected]="false"
                    formControlName="languages"
                  >
                    <!-- Custom template for displaying multiple selected items -->
                    <ng-template
                      ng-multi-label-tmp
                      let-items="items"
                      let-clear="clear"
                    >
                      <!-- Display first 3 selected items -->
                      <div
                        *ngFor="
                          let item of items.slice(0, 3);
                          trackBy: items.Id
                        "
                        class="ng-value"
                      >
                        <span
                          class="ng-value-label right"
                          (click)="clear(item)"
                          aria-hidden="true"
                          >X {{ item.Language }}</span
                        >
                      </div>
                      <!-- Display the number of additional items if more than 3 are selected -->
                      <div *ngIf="items.length > 3" class="ng-value">
                        <span class="ng-value-label"
                          >{{ items.length - 3 }} more...</span
                        >
                      </div>
                    </ng-template>
                  </ng-select>
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl['languages'].invalid &&
                        userFormControl['languages'].touched
                      "
                    >
                      *Language is required
                    </small>
                  </div>
                </div>
              </div>

              <hr />

              <div formArrayName="address" class="p-2">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold mx-2"> Address </h4>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="AddAddress()"
                  >
                    Add Address
                  </button>
                </div>

                <div
                  class="p-2 border border-1 border-dark rounded-2 p-2 my-3 mx-2 bg-primary-subtle"
                  *ngFor="
                    let control of address.controls;
                    let i = index;" 
                    [formGroupName] = "i"   
                >
                  <div class="">
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-danger" type="button" (click)="removeAddress(i)"> Remove</button>
                    </div>
                    <div class="row">
                      <input type="text" hidden formControlName="AddressId" [value]="i+1"/>
                      <div class="col-6 my-2">
                        <input type="text" class="form-control" placeholder="Address line 1" formControlName="Address1">
                      </div>
                      <div class="col-6 my-2">
                        <input type="text" class="form-control" placeholder="Address line 2" formControlName="Address2">
                      </div>
                      <div class="col-4 my-2">
                        <select class="form-select" (change)="onCountryChnage($event,i)" formControlName="CountryId">
                          <option selected>Select Country</option>
                          <option *ngFor="let c of countryList" [value]="c.CountryId">
                            {{ c.CountryName }}
                          </option>
                        </select>
                      </div>
                      <div class="col-4 my-2">
                        <select class="form-select" (change)="onStateChange($event,i)" formControlName="StateId">
                          <option *ngFor="let s of stateList[i]" [value]="s.StateId">
                            {{ s.StateName }}
                          </option>
                        </select>
                      </div>
        
                      <div class="col-4 my-2">
                        <select class="form-select"  formControlName="CityId">
                          <option *ngFor="let c of cityList[i]" [value]="c.CityId">
                            {{ c.CityName }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="text-danger" *ngIf="control.invalid">
                    *Address is Required
                  </div> -->
                </div>
              </div>

             
              
            </div>

            <div
              class="container d-flex justify-content-center"
              *ngIf="!isEdit"
            >
              <div class="row px-auto my-2 border border-dark border-1">
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">First Name :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.FirstName }}</p>
                </div>
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Last Name :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.LastName }}</p>
                </div>
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Email :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.Email }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Phone Number:</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.PhoneNo }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Gender :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.Gender }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Date of Birth:</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.DOB }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Languages : </label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.FormatLanguages }}</p>
                </div>
              </div>
            </div>

            <div class="container" *ngIf="!isEdit">
              <label class="fw-bold h5">Address :</label>
              <div
                class="my-1"
                *ngFor="let i of addressArray; let index = index"
              >
                <p class="h6">{{ i.Address1 }}, {{i.Address2}}, {{i.CountryName}}, {{i.StateName}}, {{i.CityName}}</p>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <button
                type="button"
                class="btn btn-info"
                *ngIf="!isEdit"
                (click)="onEditProfile()"
              >
                Edit
              </button>
              <button type="submit" class="btn btn-success" *ngIf="isEdit">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
