<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>User Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <!-- Profile Image Section -->
              <div class="profile-image-section text-center mb-4">
                <div class="profile-image-container" *ngIf="isEdit">
                  <img
                    [src]="photoUrl"
                    alt="Profile Image"
                    class="profile-image"
                    *ngIf="profileHave"
                  />
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLMI5YxZE03Vnj-s-sth2_JxlPd30Zy7yEGg&s"
                    alt="Profile Image"
                    class="profile-image"
                    *ngIf="!profileHave"
                  />

                  <div class="image-overlay">
                    <label class="upload-label">
                      <input
                        type="file"
                        (change)="onFileSelected($event)"
                        name="userPhoto"
                        [ngClass]="{
                          'border-danger':
                            userProfileForm.invalid &&
                            userFormControl?.['userPhoto']?.errors?.['required']
                        }"
                      />
                      <i class="fa fa-camera"></i>
                    </label>
                  </div>
                </div>
                <div *ngIf="isEdit">
                  <small
                    class="text-danger"
                    *ngIf="
                      userProfileForm.invalid &&
                      userFormControl?.['userPhoto']?.errors?.['required']
                    "
                  >
                    *User Profile is required
                  </small>
                </div>
                <div class="profile-image-container" *ngIf="!isEdit">
                  <img [src]="photoUrl" class="profile-image" />
                </div>
              </div>
            </div>

            <div class="container justify-content-center row" *ngIf="isEdit">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">First Name : </label>
                  <input
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    formControlName="firstName"
                    placeholder="First Name"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['firstName']?.errors?.['required']
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['firstName']?.errors?.['required']
                      "
                    >
                      *First Name is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Last Name : </label>
                  <input
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    formControlName="lastName"
                    placeholder="Last Name"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['lastName']?.errors?.['required']
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['lastName']?.errors?.['required']
                      "
                    >
                      *Last Name is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Email Address : </label>
                  <input
                    type="email"
                    class="form-control"
                    autocomplete="off"
                    formControlName="email"
                    placeholder="Email"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['required']
                    }"
                    readonly  
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['required']
                      "
                    >
                      *Email is required
                    </small>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['email']?.errors?.['email']
                      "
                    >
                      *Please provide a valid email
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Phone Number : </label>
                  <input
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    formControlName="phoneNo"
                    placeholder="Phone Number"
                    [ngClass]="{
                      'border-danger':
                        userProfileForm.invalid &&
                        userFormControl?.['phoneNo']?.errors?.['required']
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['phoneNo']?.errors?.['required']
                      "
                    >
                      *Phone Number is required
                    </small>
                    <small
                      class="text-danger"
                      *ngIf="
                        userProfileForm.invalid &&
                        userFormControl?.['phoneNo']?.errors?.['maxlength']
                      "
                    >
                      *Phone Number Should not be a more than 10 length
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label fw-bold h5">Gender : </label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="male" id="check-male" formControlName="gender">
                  <label class="form-check-label h6" for="check-male">
                    Male
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="female" id="check-female" formControlName="gender">
                  <label class="form-check-label h6" for="check-female">
                    Female
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="other" id="check-other" formControlName="gender">
                  <label class="form-check-label h6" for="check-other">
                    Others
                  </label>
                </div>
                <div>
                  <small
                    class="text-danger"
                    *ngIf="
                      userProfileForm.controls['gender'].invalid &&
                      userProfileForm.controls['gender'].touched
                    "
                  >
                    *Gender is required
                  </small>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Date of Birth : </label>
                  <input
                    type="date"
                    class="form-control"
                    autocomplete="off"
                    formControlName="dob"
                    placeholder="Date Of Birth"
                    [ngClass]="{
                      'border-danger':
                      userFormControl['dob'].invalid &&
                      userFormControl['dob'].touched
                    }"
                  />
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl['dob'].invalid &&
                        userFormControl['dob'].touched
                      "
                    >
                      *Date of Birth is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Address : </label>
                  <textarea class="form-control" placeholder="Address" autocomplete="off" name="address" id="" [ngClass]="{
                    'border-danger':
                    userFormControl['address'].invalid &&
                    userFormControl['address'].touched
                  }"
                  formControlName="address"
                  rows="1"
                  ></textarea>
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                       userFormControl['address'].invalid &&
                       userFormControl['address'].touched
                      "
                    >
                      *Address is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold h5">Language : </label>
                  <ng-select
                    [items]="languages"
                    bindLabel="Language"
                    bindValue="Id"
                    placeholder="Select Language"
                    [multiple]="true"
                    (change)="onChange($event)"
                    [closeOnSelect]="false" 
                    [hideSelected]="true" 
                    formControlName="languages"
                  >
                  </ng-select>
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        userFormControl['languages'].invalid &&
                        userFormControl['languages'].touched
                      "
                    >
                      *Language is required
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="container d-flex justify-content-center"
              *ngIf="!isEdit"
            >
              <div class="row px-auto my-2 border border-dark border-1">
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">First Name :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.FirstName }}</p>
                </div>
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Last Name :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.LastName }}</p>
                </div>
                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Email :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.Email }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Phone Number:</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.PhoneNo }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Gender :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.Gender }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Date of Birth:</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.DOB }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Address :</label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.Address }}</p>
                </div>

                <div class="form-group d-flex col-6">
                  <label class="fw-bold h5">Languages : </label>
                  <p class="mx-2 h6 my-1">{{ userProfile?.FormatLanguages }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <button
                type="button"
                class="btn btn-info"
                *ngIf="!isEdit"
                (click)="onEditProfile()"
              >
                Edit
              </button>
              <button type="submit" class="btn btn-success" *ngIf="isEdit">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
