.login-logo {
  width: 190px;
}
.p-viewer {
  position: absolute;
  left: auto;
  right: 30px;
  top: 60%;
  transform: translateY(-50%);
}
#reset-password .p-viewer {
  top: 27px;
  transform: none;
}

h3 {
  color: #666666;
}
