<section id="reset-password">
    <div class="container-fluid p-2 w-100">
        <div class="row text-center" *ngIf="isExpireMsg">
            <div class="col-12">
                <h3 class="url-expire-msg">
                    <span class="feather icon-alert-triangle" aria-hidden="true"></span>
                    This URL Is Expired... Please try again!
                </h3>
            </div>
        </div>
        <div class="auth-wrapper" *ngIf="isValidURL">
            <div class="auth-content">
                <div class="auth-bg">
                    <span class="r"></span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r"></span>
                </div>
                <div class="card">
                    <div class="card-body">
                        <!-- <div class="mb-1 text-center">
                            <img src="assets/images/logo/favicon.png" class="login-logo" />
                        </div> -->
                        <form class="pt-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"
                            #resetPassword="ngForm" novalidate>
                            <div class="text-center">
                                <h3><b>Reset Password</b></h3>
                            </div>
                            <hr class="mt-0 w-100">
                            <div class="row">
                                <div class="col-12 position-relative pt-2">
                                    <input type="password" class="form-control" placeholder="New Password"
                                        formControlName="newPassword" autocomplete="off" id="password">
                                    <span (click)="showHidePassword('password')" class="p-viewer">
                                        <a title="{{showPassword ? 'Hide Password' : 'Show Password'}}"
                                            aria-hidden="true" class="feather"
                                            [ngClass]="showPassword ? 'icon-eye-off' : 'icon-eye'"></a>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="resetPassword.submitted && resetPasswordFormControl?.['newPassword'].errors?.['required']">Password
                                        is required</span>
                                    <span class="text-danger"
                                        *ngIf="resetPassword.submitted && resetPasswordFormControl?.['newPassword'].errors?.['pattern']">
                                        Your Password
                                        must contain at least one upper case, one lower case, one special character &
                                        one
                                        digit & length must be greater than 12 characters
                                    </span>
                                </div>
                                <div class="col-12 position-relative pt-3">
                                    <input type="password" class="form-control" placeholder="Confirm New Password"
                                        formControlName="confirmPassword" autocomplete="off" id="confirmPassword">
                                    <span class="p-viewer" (click)="showHidePassword('confirmPassword')">
                                        <a title="{{showConfirmPassword ? 'Hide Password' : 'Show Password'}}"
                                            aria-hidden="true" class="feather"
                                            [ngClass]="showConfirmPassword ? 'icon-eye-off' : 'icon-eye'"></a>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="resetPassword.submitted && resetPasswordFormControl?.['confirmPassword'].errors?.['required']">Confirm
                                        Password
                                        is required</span>
                                    <span class="text-danger"
                                        *ngIf="resetPassword.submitted && resetPasswordFormControl?.['confirmPassword'].errors?.['MatchPassword']">New
                                        Password and Confirm
                                        Password should be same</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3 col-12 mb-2">Submit</button>
                        </form>
                        <p class="mb-2 text-muted text-center">
                            <a [routerLink]="['/auth/login']">Back To Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>