@import '/src/scss/variables.scss';


// #http-loader {
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   z-index: 9999;
// }

// .loader-bg {
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   filter: alpha(opacity=70);
//   opacity: 0.7;
//   background-color: #f1f1f1;
// }

// .colored-parent,
// .colored > div {
//   background-color: #333;
// }

// .app-spinner.loader {
//     width: 48px;
//     height: 48px;
//     border-radius: 50%;
//     // position: relative;
//     animation: rotate 1s linear infinite;
//     position: fixed;
//     z-index: 9999;
//     overflow: initial;
//     margin: auto;
//     top: 0vh;
//     left: 0;
//     bottom: 0;
//     right: 0;
// }

// .app-spinner.loader::before,
// .app-spinner.loader::after {
//     content: "";
//     box-sizing: border-box;
//     position: absolute;
//     inset: 0px;
//     border-radius: 50%;
//     border: 5px solid #ffc107;
//     animation: prixClipFix 2s linear infinite;
// }

// .app-spinner.loader::after {
//     transform: rotate3d(90, 90, 0, 180deg);
//     border-color: #47589d;
// }

// @keyframes rotate {
//     0% {
//         transform: rotate(0deg)
//     }

//     100% {
//         transform: rotate(360deg)
//     }
// }

// @keyframes prixClipFix {
//     0% {
//         clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
//     }

//     50% {
//         clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
//     }

//     75%,
//     100% {
//         clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
//     }
// }

// New Loader

.app-spinner{
  position: fixed;
  background: #29292978;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    //position: relative;
    animation: rotate 1s linear infinite;
    position: fixed;
    z-index: 9999;
    overflow: initial;
    margin: auto;
    top: 0vh;
    left: 0;
    bottom: 0;
    right: 0;
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid $primary-color;;
      animation: prixClipFix 2s linear infinite ;
    }
  }
}




  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }