body {
  line-height: 1.5;

  td,
  th {
    font-family: "Open Sans", sans-serif;
  }
}

header {
  width: 100%;
}

.form-control {
  height: auto;
}

@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    left: 0 !important;
  }

  wizard.vertical .vertical a {
    display: none;
  }
}

.pcoded-header .dropdown.show:before {
  left: -10px !important;
}

pre code {
  width: auto;
  min-width: 100%;
  margin-left: -80px !important;
}

.btn.btn-sm {
  padding: 3px 12px;
  border-radius: 0.15rem;
}

.btn.btn-lg {
  padding: 12px 25px;
  border-radius: 0.35rem;
}

.fixed-button {
  position: fixed;
  bottom: -50px;
  right: 30px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.fixed-button.active {
  bottom: 50px;
  opacity: 1;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #cdd8e2;
}

.bg-primary {
  background-color: $primary-color !important;
}

.ag-header,
.ag-advanced-filter-header,
.ag-column-resizing,
.ag-header-cell-moving {
  background-color: $primary-color !important;
}

.ag-header :hover,
.ag-advanced-filter-header :hover,
.ag-header-cell-moving:hover {
  background-color: $primary-color-hover !important;
}

.ag-header-cell-label {
  color: $light-color !important;
}

.ag-theme-material .ag-header-icon {
  color: $light-color !important;
  /* Change the color of the filter icon */
}

.ag-picker-field.ag-labeled.ag-label-align-left.ag-select.ag-filter-select.ag-disabled {
  display: none;
}

.pinned-cell {
  border-left: 2px solid #3498db !important;
  /* Adjust the color and width of the border */
}

a.page-link {
  color: $primary-color;
  background: $light-color;
}

.page-link.disabled,
.disabled > .page-link {
  background-color: #cdd8e2 !important;
  color: #60728e4a !important;
}

.skeleton-loader.progress {
  background-color: #cdd8e2 !important;
}

.table-container {
  /* Or dynamically calculated value */
  overflow-y: auto;
  width: 100%;
  /* Ensure full width for the table */
}

table {
  table-layout: auto;
  /* Default behavior to let columns auto-adjust */
  width: 100%;
  /* Full-width table */
}

th,
td {
  white-space: nowrap;
  /* Prevent the text from wrapping */
  text-align: left;
  /* Optional: align text */
}

mat-paginator.mat-mdc-paginator {
  position: sticky;
  bottom: 0 !important;
  background: white;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar */
  border-radius: 6px; /* Round the edges */
  border: 3px solid #fff; /* Padding around the scrollbar thumb */
}

/* Style when the scrollbar is hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovered */
}
